{
    "extends": "@antfu",
    "rules": {
        "no-console": "off",
        "react/display-name": "off",
        // "vue/first-attribute-linebreak": [
        //     "error",
        //     {
        //         "singleline": "ignore",
        //         "multiline": "ignore"
        //     }
        // ],
        // "vue/html-closing-bracket-newline": [
        //     "error",
        //     {
        //         "singleline": "ignore",
        //         "multiline": "always"
        //     }
        // ],
        "react/prop-types": [
            "off"
        ],
        "no-sequences": "off"
    }
}